.map
  &__legend
    position: fixed
    @include pin(auto, 0, #{$main__size}, 0)
    &--toggle
      @include flex(flex-start, center, row)
      box-sizing: border-box
      width: 100%
      text-align: left
      border-top: $border__main
      height: $main__size
      & > p
        box-sizing: border-box
        width: calc(100% - #{$main__size})
        padding: $padding__secondary $padding__main
      & > div
        border-left: $border__main
    &--list
      display: grid
      grid-auto-flow: column
      grid-template-columns: repeat(2, 1fr)
      grid-column-gap: $padding__main
      grid-row-gap: $padding__small
      padding: $padding__secondary $padding__main
    &--list-wrapper
      overflow: hidden
      transition: height $transition__main
      max-height: 40vh
      overflow-y: auto
      border-top: $border__main
    &--list-item
      height: 100%
      width: 100%
      text-align: left
      padding:
        top: $padding__small
        bottom: $padding__small
    &--arrow
      transform: scale(1) rotate(-90deg)
      transition: $transition__main
    &--open
      transform: scale(-1) rotate(-90deg)
