.map
  box-sizing: border-box
  &__main
    height: 100%
  &__legend
    position: fixed
    @include pin(auto, 0, #{$main__size}, 0)
    background-color: var(--color-main-bg)
    z-index: 1000
    &--toggle
      @include flex(flex-start, center, row)
      box-sizing: border-box
      width: 100%
      text-align: left
      border-top: $border__main
      height: $main__size
      & > p
        box-sizing: border-box
        width: calc(100% - #{$main__size})
        padding: $padding__secondary $padding__main
      & > div
        border-left: $border__main
    &--list
      display: grid
      grid-template-columns: 1fr
      grid-gap: $padding__secondary
      padding: $padding__secondary $padding__main
    &--list-wrapper
      overflow: hidden
      transition: height $transition__main
      max-height: 40vh
      overflow-y: auto
      border-top: $border__main
    &--list-item
      height: 100%
      width: 100%
      text-align: left
      padding:
        top: $padding__small
        bottom: $padding__small
      @include flex(flex-start, flex-start, row)
      & > span
        margin-right: $padding__small
    &--arrow
      transform: scale(1) rotate(-90deg)
      transition: $transition__main
    &--open
      transform: scale(-1) rotate(-90deg)
