.welcome
  &__lang-list
    &--item
      display: block
      min-height: $main__size
      border-bottom: .1rem solid var(--color-main-border)
      position: relative
    &--input
      position: absolute
      height: 100%
      width: 100%
      opacity: 0
    &--content
      @include flex(space-between, flex-start, row)
    &--lang
      @include flex(flex-start, center, row)
      min-height: $main__size
      width: calc(100% - #{$main__size})
      box-sizing: border-box
      padding: $padding__secondary $padding__main
      border-right: .1rem solid var(--color-main-border)
      font-size: $font__subtittle
    &--flag
      font-size: 1.5rem
      margin-right: $padding__secondary
      padding-top: .25rem
  &__pref-list
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(3, minmax(#{$main__size}, auto))
    &--dark-mode,
    &--light-mode
      @include flex(flex-start, center, row)
      position: relative
      border-bottom: .1rem solid var(--color-main-border)
      box-sizing: border-box
      padding: $padding__secondary $padding__main
      & > input
        position: absolute
        @include pin(0, 0, 0, 0)
        width: 100%
        height: 100%
        opacity: 0
    &--dark-mode
      background-color: var(--color-black)
      color: var(--color-white)
    &--light-mode
      background-color: var(--color-white)
      color: var(--color-black)
    &--start,
    &--return
      grid-column: 1 / 3
      border-bottom: .1rem solid var(--color-main-border)
      a,
      button
        display: grid
    &--start
      & > a
        grid-template-columns: 1fr $main__size
        & > span:first-child
          padding: $padding__secondary $padding__main
          @include flex(flex-start, center, row)
        & > .return
          border-left: .1rem solid var(--color-main-border)
    &--return
      & > button
        grid-template-columns: $main__size 1fr
        width: 100%
        & > .return
          border-right: .1rem solid var(--color-main-border)
        & > span:last-child
          padding: $padding__secondary $padding__main
          @include flex(flex-start, center, row)
          height: 100%
          box-sizing: border-box
